.icon-48-universities {
    background-image: url(../images/l_universities.png);
    padding-left: 60px !important;
}

.icon-48-university {
    background-image: url(../images/l_universities.png);
    padding-left: 60px !important;
}

.icon-48-seasons {
    background-image: url(../images/l_seasons.png);
    padding-left:60px!important;
}

.icon-48-season {
    background-image: url(../images/l_seasons.png);
    padding-left:60px!important;
}

.icon-48-events {
    background-image: url(../images/l_events.png);
    padding-left:60px!important;
}

.icon-48-event {
    background-image: url(../images/l_events.png);
    padding-left:60px!important;
}

.icon-48-tickettypes {
    background-image: url(../images/l_tickettypes.png);
    padding-left:60px!important;
}

.icon-48-tickettype {
    background-image: url(../images/l_tickettypes.png);
    padding-left:60px!important;
}

.icon-48-racetypes {
    background-image: url(../images/l_racetypes.png);
    padding-left:60px!important;
}

.icon-48-racetype {
    background-image: url(../images/l_racetypes.png);
    padding-left:60px!important;
}

.icon-48-grants {
    background-image: url(../images/l_grants.png);
    padding-left:60px!important;
}

.icon-48-grant {
    background-image: url(../images/l_grants.png);
    padding-left:60px!important;
}

.icon-48-damages {
    background-image: url(../images/l_damages.png);
    padding-left:60px!important;
}

.icon-48-damage {
    background-image: url(../images/l_damages.png);
    padding-left:60px!important;
}

.icon-48-deposits {
    background-image: url(../images/l_deposits.png);
    padding-left:60px!important;
}

.icon-48-deposit {
    background-image: url(../images/l_deposits.png);
    padding-left:60px!important;
}


