.icon-48-universities {
    background-image: url(../images/l_universities.png);
    padding-left: 60px !important;
}

.icon-48-university {
    background-image: url(../images/l_universities.png);
    padding-left: 60px !important;
}

.icon-48-seasons {
    background-image: url(../images/l_seasons.png);
    padding-left:60px!important;
}

.icon-48-season {
    background-image: url(../images/l_seasons.png);
    padding-left:60px!important;
}

