.icon-48-universities {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-university {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-seasons {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-season {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-events {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-event {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-members {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-member {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-competitiontypes {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-competitiontype {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-grants {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-grant {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-damages {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-damage {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-deposits {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-deposit {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-tickets {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-ticket {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-teamresults {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-teamresult {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-individualresults {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-individualresult {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-eventtickets {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-eventticket {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-competitions {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-competition {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-qualifications {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-qualification {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-universitymembers {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-universitymember {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-eventregistrations {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}

.icon-48-eventregistration {
    background-image: url(../images/l_default.png);
    padding-left: 60px !important;
}
