/* Begin Additional CSS Styles */
.art-hmenu-extra2 
{ 
margin-top: -120px; 
margin-right: 20px; 
width: 100px; 
} 
.art-blockheader .t, .art-vmenublockheader .t {white-space: nowrap;}
/* End Additional CSS Styles */